@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 77.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#about,
#experience,
#tecnologies,
#contact {
  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 13vh;
}
header .header-left .social-midias a {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
header .header-left .social-midias a:hover {
  color: #0077b5;
}
header .header-left .social-midias a:nth-child(2) {
  color: #0a66c2;
}
header .header-left .social-midias a:nth-child(3) {
  color: #333;
}
header .header-left .social-midias a:nth-child(1) {
  color: #e1306c;
}
header .header-mid {
  display: flex;
  align-items: center;
}
header .header-mid .logo-mid img {
  height: 70px;
  width: auto;
}
header .header-mid a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
header .header-mid a:hover {
  color: #dbdbdb;
  scale: 1.03;
}
header .header-right .download-cv a {
  text-decoration: none;
  color: #333;
  background-color: #e0e0e0;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
header .header-right .download-cv a:hover {
  background-color: #54ca97;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main {
  padding-top: 5rem;
}

.banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
.banner img {
  width: 100%;
  height: 100%;
}

.about-main {
  padding: 50px 20px;
  background-color: #fff;
}
.about-main .about-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}
.about-main .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.about-main .boxes .box {
  width: 23%;
  background-color: #f0f0f0;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  display: flex;
  flex-direction: column;
}
.about-main .boxes .box:hover {
  transform: translateY(-10px);
  /* Efeito de elevação */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Sombras mais fortes */
}
.about-main .boxes .box h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}
.about-main .boxes .box p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
.about-main .boxes .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
}

.experience-main {
  padding: 50px 20px;
  background-color: #fff;
}
.experience-main .experience-top {
  text-align: center;
}
.experience-main .experience-top .experience-tittle {
  font-size: 36px;
  color: #333;
}
.experience-main .experience-top .experience-resume {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}
.experience-main .experience-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.experience-main .experience-container .experience-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.experience-main .experience-container .experience-box:hover {
  transform: translateY(-10px);
  /* Efeito de elevação */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Sombras mais fortes */
}
.experience-main .experience-container .experience-box h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.experience-main .experience-container .experience-box p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.tecnologies-main {
  padding: 50px 20px;
  background-color: #fff;
}
.tecnologies-main h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}
.tecnologies-main .tecnologies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 4 colunas */
  gap: 40px;
  justify-items: center;
  /* Alinha os itens no centro das colunas */
}
.tecnologies-main .teconologies-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tecnologies-main .teconologies-box:hover {
  transform: translateY(-10px);
  /* Efeito de elevação */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Sombras mais fortes */
}
.tecnologies-main .teconologies-box img {
  min-width: 120px;
  /* Ajuste o tamanho da imagem */
  min-height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  /* Garante que as imagens se ajustem bem sem distorcer */
}
@media (max-width: 1024px) {
  .tecnologies-main .tecnologies-container {
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas para telas menores */
  }
}
@media (max-width: 768px) {
  .tecnologies-main .tecnologies-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas para telas ainda menores */
  }
}
@media (max-width: 480px) {
  .tecnologies-main .tecnologies-container {
    grid-template-columns: 1fr;
    /* 1 coluna para telas pequenas */
  }
}

.contact-main {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}
.contact-main h1 {
  font-size: 36px;
  color: #333;
}
.contact-main p {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}
.contact-main .contact-container {
  margin-top: 40px;
}
.contact-main .contact-email,
.contact-main .contact-whatsapp {
  margin-top: 20px;
}
.contact-main .contact-email h2,
.contact-main .contact-whatsapp h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.contact-main .contact-email a,
.contact-main .contact-whatsapp a {
  font-size: 18px;
  color: #0077b5;
  text-decoration: none;
  transition: color 0.3s;
}
.contact-main .contact-email a:hover,
.contact-main .contact-whatsapp a:hover {
  color: #005fa3;
}

footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */